nav ul {

	list-style-type: none;
	margin: 2%;
}
nav ul li{
	
	display: inline;
	padding: 15px;
}

span{
	float: right;
	display:inline;
}
.icon{
	width:40px;
	
}
header{
	text-align: center;
}
body{
	
	background-image: url("b3e60c1d45d2bb495c70c7856174cd81--graffiti-words-graffiti-names.jpg");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 1500px 1000px;
}
main{
	
}
