nav ul {

	list-style-type: none;
	margin: 2%;
}
nav ul li{
	
	display: inline;
	padding: 15px;
}

span{
	float: right;
	display:inline;
}
.icon{
	width:40px;
	
}
header{
	text-align: center;
}
body{
background-color: #A3A9AA
}
main{
	
}
main h2{
	text-align: center;
	color: #631D76
}
body header h1{
	color: #A9CEF4
}
.projectss{
	margin: 1%;
	width: 15%;
	height:15%;

}
